
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>
    <div>
        <form action="/User/Login" method="post">
            <input type="text" name="UserName" />
            <input type="text" name="UserPwd" />
            <button type="submit">登录</button>

        </form>


    </div>
</body>
</html>
